body{
    font-family: 'museo-sans', sans-serif;
}

#blog {
    margin-top: 70px;
    background-image: url('/Image/img-bg-blog.jpg'); /* Replace 'your-background-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    padding: 80px; /* Adjust as needed to prevent overlap with the navbar */
}

ul.breadcrumb {
    justify-content: center;
    background: transparent !important;
    margin: 0;
    padding: 0;
    color: black;
}

.breadcrumb li{
   color: white;
   font-size: 15px;
    padding: 10px;
   
}

.breadcrumb a{
    text-decoration: none;
    color: white;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adjust as needed */
    z-index: 1000; /* Ensure navbar is above other content */
}

.fixed-navbar .logo img {
    max-height: 40px; /* Adjust as needed */
    vertical-align: middle;
}

#blog {
    padding-top: 60px; /* Adjust this value according to the height of your navbar */
    background-color: #f7f7f7; /* Adjust as needed */
}

.container-blog {
    padding: 20px 0; /* Add padding to the container */
}

.brand-heading {
    font-size: 36px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    color: #333; /* Text color */
}

.breadcrumb {
    background-color: transparent; /* Background color for the breadcrumb */
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li a {
    color: #666; /* Link color */
    text-decoration: none;
}

.breadcrumb li:before {
    content: "\00BB"; /* Breadcrumb separator */
    color: #d7d2d2; /* Separator color */
    margin: 0 8px; /* Adjust margin as needed */
}

.breadcrumb li:first-child:before {
    content: none; /* Hide separator for the first item */
}
